body {
  background-color: #F0F8FF;
}

.btn {
  padding: 5 15px;
  height: 40px;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px coral solid;
  color: coral;
  border-radius: 1px;
  background: white;
  cursor: pointer;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
}

.btn:hover {
  color: black;
  border: 3px black solid;
}

/* Navigation Bar */

#header {
  background-color: #F0F8FF;
  display: flex;
  position: fixed;
  min-height: 90px;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

#header-img {
  width: 60%;
  padding-left: 20px;
}

#nav-bar {
  font-weight: 700;
  font-size: 20px;
}

ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-right: 1vw;
  padding-top: 15vh;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: gray;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.form-div {
  display: flex;
  padding-top: 35vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  font-size: 20px;
}

h1 {
  font-size: 30px;
  padding: 15px;
}

#email {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

h4 {
  padding: 15px;
}

#submit {
  max-width: 100px;
  width: 100%;
  margin: 15px 0;
}

/* #about {
  /* position: relative; */

/* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
} */

.image {
  height: 125px;
  width: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Media Queries */

@media (max-width: 600px) {
  ul {
    flex-direction: column;
    /* font-size: 15px; */
    margin-top: 5px;
  }
  #header {
    flex-wrap: wrap;
  }
  #header-img {
    margin-top: 15px;
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
  }
  #nav-bar {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5;
  }
}